<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/choixFruit" method="post">
            <p>
                Quel est votre fruit favori ?
            </p>
            {% for fruit in fruits %}
            <p><input type="radio" name="fruit" value="{{fruit}}">{{fruit}}</p>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
